/*Configuración del body*/
body{
    margin: 0px;
    padding: 0px;
    background-color: #EAE0D5;
}

a{
    text-decoration: none;
}


/* |Diseño para monitor| Resolución para pantallas de 1025px en adelante*/
@media screen and (min-width: 1025px){
    .PageContainer{
        width: 960px;
        margin: 0px auto;
        overflow: auto;
        background-color: #FEFEE3;
    }

    /*Sección de la barra top*/
    .TopBar{
        width: 100%;
        height: 50px;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    #LeftContent{
        display: flex;
        align-items: center;
    }

    .LogoImg{
        width: 150px;
        height: 50px;
    }

    #RightContent{
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #RightContent a:hover{
        opacity: 0.7;
    }

    .SignUpButton{
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #22333B;
        border-radius: 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        background-color: #22333B;
    }

    .SignUpButton span{
        color: #FEFEE3;
        font-family: cursive;
        font-weight: bold;
        font-size: 13pt;
        user-select: none;
    }

    /*Sección de la imagen del encabezado*/
    .HeaderImg{
        width: 100%;
        height: 147px;
        float: left;
    }

    .HeaderImg img{
        width: 100%;
        height: 100%;
    }

    /*Sección del menu*/
    .MenuMobile{
        display: none;
    }

    .Menu{
        width: 100%;
        height: 50px;
        float: left;
        overflow: auto;
        background-color: #22333B;
    }

    .Menu a{
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HomeButton{
        width: 60px;
    }

    .HomeButton i{
        color: #FEFEE3;
    }

    .MenuButton{
        width: 225px;
    }

    .MenuButton span{
        color: #FEFEE3;
        font-family: cursive;
        font-size: 13.5pt;
        user-select: none;
    }

    /*Contenedor login*/
    #LoginContainer{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        background-color: #5E503F;
    }

    .LoginPanel{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 3px;
        font-family: system-ui, sans-serif;
        background-color: #FEFEE3;
        box-shadow: 0 0 10px #C6AC8F,0 0 10px #22333B,0 0 10px #C6AC8F;
    }

    .TitleLogIn{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .TitleLogIn span{
        color: #22333B;
        font-size: 17pt;
        font-weight: bold;
    }

    .LoginForm{
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .LoginForm input{
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        border: 0px;
    }

    .FormField{
        width: 70%;
        overflow: auto;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: 1px solid #22333B;
    }

    .FormField label{
        width: 10%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }

    .FormField label i{
        font-size: 18px;
        color: #22333B;
    }

    .FormField input{
        width: 90%;
        height: 100%;
        float: left;
        color: #22333B;
        font-size: 13pt;
        font-family: 'Poppins', sans-serif;
        background-color: #FEFEE3;
    }

    .FormField input::placeholder{
        color: #22333B;
    }

    .SubmitButton{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SubmitButton button{
        width: 50%;
        border-radius: 3px;
        padding: 0px;
        padding: 5px 0px;
        border: 2px solid #0A0908;
        background-color: #C6AC8F 0.7;
    }

    .SubmitButton button span{
        color: #000000;
        font-size: 13pt;
        font-weight: bold;
    }

    .SubmitButton button:hover{
        cursor: pointer;
        background-color: #C6AC8F;
    }
    
    /*Sección del pie*/
    .Footer{
        width: 100%;
        float: left;
        overflow: auto;
    }

    .Footer div{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #FooterUp{
        height: 50px;
        background-color: #C6AC8F;
    }

    #FooterUp span{
        color: #0A0908;
        font-size: 12pt;
        font-family: cursive;
    }

    #FooterUp a{
        text-decoration: underline #0A0908;
    }

    #FooterUp a:hover{text-decoration: none;}

    #FooterDown{
        height: 40px;
        background-color: #EAE0D5;
    }

    #FooterDown a:hover{
        text-decoration: underline;
        text-decoration-color: #000000;
    }

    #FooterDown span{
        color: #0A0908;
        font-size: 11pt;
        font-family: cursive;
    }
}

/*/////////////////////////////////////////////////////////
 |Tableta| Estilos para pantallas entre 681px y 1024*/
@media screen and (min-width: 681px) and (max-width: 1024px){
    .PageContainer{
        width: 700px;
        margin: 0px auto;
        overflow: auto;
        background-color: #FEFEE3;
    }

    /*Sección de la barra top*/
    .TopBar{
        width: 100%;
        height: 50px;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    #LeftContent{
        display: flex;
        align-items: center;
    }

    .LogoImg{
        width: 125px;
        height: 50px;
    }

    #RightContent{
        width: 225px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #RightContent a:hover{
        opacity: 0.7;
    }

    .SignUpButton{
        width: 96px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #22333B;
        border-radius: 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        background-color: #22333B;
    }

    .SignUpButton span{
        color: #FEFEE3;
        font-family: cursive;
        font-weight: bold;
        font-size: 11pt;
    }

    /*Sección de la imagen del encabezado*/
    .HeaderImg{
        width: 100%;
        height: 107px;
        float: left;
    }

    .HeaderImg img{
        width: 100%;
        height: 100%;
    }

    /*Sección del menu*/
    .MenuMobile{
        display: none;
    }

    .Menu{
        width: 100%;
        height: 50px;
        float: left;
        overflow: auto;
        background-color: #22333B;
    }

    .Menu a{
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HomeButton{
        width: 52px;
    }

    .HomeButton i{
        color: #FEFEE3;
    }

    .MenuButton{
        width: 162px;
    }

    .MenuButton span{
        color: #FEFEE3;
        font-family: cursive;
        font-size: 10pt;
    }

    /*Contenedor login*/
    #LoginContainer{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        background-color: #5E503F;
    }

    .LoginPanel{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 3px;
        font-family: system-ui, sans-serif;
        background-color: #FEFEE3;
        box-shadow: 0 0 10px #C6AC8F,0 0 10px #22333B,0 0 10px #C6AC8F;
    }

    .TitleLogIn{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .TitleLogIn span{
        color: #22333B;
        font-size: 17pt;
        font-weight: bold;
    }

    .LoginForm{
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .LoginForm input{
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        border: 0px;
    }

    .FormField{
        width: 70%;
        overflow: auto;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: 1px solid #22333B;
    }

    .FormField label{
        width: 10%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }

    .FormField label i{
        font-size: 18px;
        color: #22333B;
    }

    .FormField input{
        width: 90%;
        height: 100%;
        float: left;
        color: #22333B;
        font-size: 13pt;
        font-family: 'Poppins', sans-serif;
        background-color: #FEFEE3;
    }

    .FormField input::placeholder{
        color: #22333B;
    }

    .SubmitButton{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SubmitButton button{
        width: 50%;
        border-radius: 3px;
        padding: 0px;
        padding: 5px 0px;
        border: 2px solid #0A0908;
        background-color: #C6AC8F;
    }

    .SubmitButton button:hover{
        cursor: hand;
    }

    .SubmitButton button span{
        color: #000000;
        font-size: 13pt;
        font-weight: bold;
    }

    /*Sección del pie*/
    .Footer{
        width: 100%;
        float: left;
        overflow: auto;
    }

    .Footer div{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #FooterUp{
        height: 50px;
        background-color: #C6AC8F;
    }

    #FooterUp span{
        color: #0A0908;
        font-size: 11pt;
        font-family: cursive;
    }

    #FooterUp a{
        text-decoration: underline #0A0908;
    }

    #FooterUp a:hover{text-decoration: none;}

    #FooterDown{
        height: 40px;
        background-color: #EAE0D5;
    }

    #FooterDown a:hover{
        text-decoration: underline;
        text-decoration-color: #000000;
    }

    #FooterDown span{
        color: #0A0908;
        font-size: 10pt;
        font-family: cursive;
    }
}

/*///////////////////////////////////////////////////////
 |Movil| Estilos para pantallas entre 0px y 680px*/
@media screen and (min-width: 0px) and (max-width: 680px){
    .PageContainer{
        width: 100%;
        margin: 0px auto;
        overflow: auto;
        background-color: #FEFEE3;
    }

    /*Sección de la barra top*/
    .TopBar{
        width: 100%;
        height: 50px;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    #LeftContent{
        display: flex;
        align-items: center;
    }

    .LogoImg{
        width: 125px;
        height: 50px;
    }

    #RightContent{
        width: 225px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #RightContent a:hover{
        opacity: 0.7;
    }

    .SignUpButton{
        width: 96px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #22333B;
        border-radius: 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        background-color: #22333B;
    }

    .SignUpButton span{
        color: #FEFEE3;
        font-family: cursive;
        font-weight: bold;
        font-size: 11pt;
    }

    /*Sección de la imagen del encabezado*/
    .HeaderImg{
        width: 100%;
        height: 104px;
        float: left;
    }

    .HeaderImg img{
        width: 100%;
        height: 100%;
    }

    /*Sección del menu*/
    .Menu .MenuButton{
        display: none;
    }

    .Menu{
        width: 100%;
        height: 50px;
        float: left;
        overflow: auto;
        background-color: #22333B;
    }

    .HomeButton{
        width: 10%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HomeButton i{
        color: #FEFEE3;
    }
    
    .MenuMobile{
        width: 90%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 5px;
    }

    .MenuMobile label{
        cursor: hand;
        color: #FEFEE3;
        margin-right: 20px;
    }

    #MenuBar{
        display: none;
    }

    .Buttons{
        position: absolute;
        top: 204px; left: 0; right: 0;
        overflow: auto;
        background-color: #EAE0D5;
        display: none;
    }

    .Buttons a{
        width: 100%;
        height: 29px;
        border-bottom: 1px solid #FEFEE3;
        float: left;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    .Buttons a i{
        margin-left: 20px;
        color: #22333B;
    }

    .Buttons a span{
        color: #22333B;
        font-family: cursive;
        font-size: 12pt;
    }

    #MenuBar:checked ~ .Buttons{
        display: initial;
    }

    /*Contenedor login*/
    #LoginContainer{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        background-color: #5E503F;
    }

    .LoginPanel{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 3px;
        font-family: system-ui, sans-serif;
        background-color: #FEFEE3;
        box-shadow: 0 0 10px #C6AC8F,0 0 10px #22333B,0 0 10px #C6AC8F;
    }

    .TitleLogIn{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .TitleLogIn span{
        color: #22333B;
        font-size: 17pt;
        font-weight: bold;
    }

    .LoginForm{
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .LoginForm input{
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        border: 0px;
    }

    .FormField{
        width: 70%;
        overflow: auto;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: 1px solid #22333B;
    }

    .FormField label{
        width: 10%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }

    .FormField label i{
        font-size: 18px;
        color: #22333B;
    }

    .FormField input{
        width: 90%;
        height: 100%;
        float: left;
        color: #22333B;
        font-size: 13pt;
        font-family: 'Poppins', sans-serif;
        background-color: #FEFEE3;
    }

    .FormField input::placeholder{
        color: #22333B;
    }

    .SubmitButton{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SubmitButton button{
        width: 50%;
        border-radius: 3px;
        padding: 0px;
        padding: 5px 0px;
        border: 2px solid #0A0908;
        background-color: #C6AC8F;
    }

    .SubmitButton button:hover{
        cursor: hand;
    }

    .SubmitButton button span{
        color: #000000;
        font-size: 13pt;
        font-weight: bold;
    }

    /*Sección del pie*/
    .Footer{
        width: 100%;
        float: left;
        overflow: auto;
    }

    .Footer div{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #FooterUp{
        height: 50px;
        background-color: #C6AC8F;
    }

    #FooterUp span{
        color: #0A0908;
        font-size: 10.5pt;
        font-family: cursive;
    }

    #FooterUp a{
        text-decoration: underline #0A0908;
    }

    #FooterUp a:hover{text-decoration: none;}

    #FooterDown{
        height: 40px;
        background-color: #EAE0D5;
    }

    #FooterDown a:hover{
        text-decoration: underline;
        text-decoration-color: #000000;
    }

    #FooterDown span{
        color: #0A0908;
        font-size: 9.5pt;
        font-family: cursive;
    }
}